MONGODB_URI=mongodb+srv://tuanhuy227:220702@cluster0.s3x47.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=5001
JWT_SECRET=7ewYlvOpdh7FheV9xmhxlDGlm0F9y/b0nHnapa4BT9E=

CLOUDINARY_CLOUD_NAME=dfyf6f3fi
CLOUDINARY_API_KEY=618961833922478
CLOUDINARY_API_SECRET=fW25os0I1zcfJpmp9LYfNE72WuI

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173

NODE_ENV=development